body {
  background-color: tan;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1000px) {
  body {
    background-color: #9b62c4;
  }
}

@media screen and (max-width: 900px) {
  body {
    background-color: #c76076;
  }
}

@media screen and (max-width: 850px) {
  body {
    background-color: #7ac760;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 750px) {
  body {
    background-color: #62b5c4;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: ##c78064;
  }
}



body {
font-family: helvetica;
font-size:80px;
font-style: black;

}
